#### Now, to find the expected loss, the bank has created the following table. As you already know, the probability of customer 1 being a defaulter is 0.007 and that of the customer not being a defaulter is 0.993. Now, in the case of default, what would be the value of X, i.e. the money lost by the bank?


Defaulter/Non-defaulter	   Probability   	X (Money Lost by Bank)
Defaulter	0.007	-
Non-defaulter	0.993	0

In [30]:
import pandas as pd
import numpy as np

In [31]:
df=pd.read_csv('Inferential Statistics - Student Loan.csv')

In [32]:
df.head()

,Customer No.,Exposure at Default,Recovery,Probability of Default,Recovered Money
0,1,11.50,20.00,0.0070,2.300000
1,2,0.24,5.10,0.0033,0.012240
2,3,0.04,24.86,0.0022,0.009944
3,4,13.81,2.29,0.0066,0.316249
4,5,19.84,3.47,0.0020,0.688448

In [33]:
df.describe()

,Customer No.,Exposure at Default,Recovery,Probability of Default,Recovered Money
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5000.50000,12.402293,20.154181,0.004971,2.494581
std,2886.89568,7.212890,11.533587,0.002877,2.208326
min,1.00000,0.000000,0.000000,0.000000,0.000000
25%,2500.75000,6.220000,10.062500,0.002400,0.673613
50%,5000.50000,12.210000,20.295000,0.005000,1.860660
75%,7500.25000,18.700000,30.030000,0.007500,3.824428
max,10000.00000,25.000000,39.990000,0.010000,9.859815

In [34]:
#df['Recovery']=df['Recovery'].apply(lambda x:x.replace('%',''))

In [35]:
df.head()

,Customer No.,Exposure at Default,Recovery,Probability of Default,Recovered Money
0,1,11.50,20.00,0.0070,2.300000
1,2,0.24,5.10,0.0033,0.012240
2,3,0.04,24.86,0.0022,0.009944
3,4,13.81,2.29,0.0066,0.316249
4,5,19.84,3.47,0.0020,0.688448

In [36]:
#df.to_csv('Inferential Statistics - Student Loan.csv')

In [37]:
df['Recovered Money']=(df['Recovery']/100)*df['Exposure at Default']

In [38]:
df.head()

,Customer No.,Exposure at Default,Recovery,Probability of Default,Recovered Money
0,1,11.50,20.00,0.0070,2.300000
1,2,0.24,5.10,0.0033,0.012240
2,3,0.04,24.86,0.0022,0.009944
3,4,13.81,2.29,0.0066,0.316249
4,5,19.84,3.47,0.0020,0.688448

In [39]:
df.describe()

,Customer No.,Exposure at Default,Recovery,Probability of Default,Recovered Money
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5000.50000,12.402293,20.154181,0.004971,2.494581
std,2886.89568,7.212890,11.533587,0.002877,2.208326
min,1.00000,0.000000,0.000000,0.000000,0.000000
25%,2500.75000,6.220000,10.062500,0.002400,0.673613
50%,5000.50000,12.210000,20.295000,0.005000,1.860660
75%,7500.25000,18.700000,30.030000,0.007500,3.824428
max,10000.00000,25.000000,39.990000,0.010000,9.859815

In [40]:
df['Loss']=df['Exposure at Default']-df['Recovered Money']

In [41]:
df.head()

,Customer No.,Exposure at Default,Recovery,Probability of Default,Recovered Money,Loss
0,1,11.50,20.00,0.0070,2.300000,9.200000
1,2,0.24,5.10,0.0033,0.012240,0.227760
2,3,0.04,24.86,0.0022,0.009944,0.030056
3,4,13.81,2.29,0.0066,0.316249,13.493751
4,5,19.84,3.47,0.0020,0.688448,19.151552

In [43]:
sum(df['Loss'])

99077.1221409998

In [44]:
df["expected_lost"]=df['Probability of Default']*df['Exposure at Default']*(1-df['Recovered Money'])

In [45]:
df.head()

,Customer No.,Exposure at Default,Recovery,Probability of Default,Recovered Money,Loss,expected_lost
0,1,11.50,20.00,0.0070,2.300000,9.200000,-0.104650
1,2,0.24,5.10,0.0033,0.012240,0.227760,0.000782
2,3,0.04,24.86,0.0022,0.009944,0.030056,0.000087
3,4,13.81,2.29,0.0066,0.316249,13.493751,0.062321
4,5,19.84,3.47,0.0020,0.688448,19.151552,0.012362

In [46]:
sum(df['expected_lost'])

-1470.7245480944302